<html>

<head>
    <title>Mystery Word</title>
    <link rel="stylesheet" type="" href="/styles.css">
</head>

<body>
    <div class = 'centered'>
        You Lost! The word was {{chosenWord}}.

        <p><a href="/" autofocus>Play Again?</a></p>
    </div>
</body>

</html>