<html>
    <head>
       <title>Mystery Word</title> 
       <link rel="stylesheet" type="" href="/styles.css">
    </head> 
    <body>
        You Lost! The word was {{chosenWord}}.

        <a href="/game" autofocus>Play Again?</a>
    </body>
</html>